.para1
{
  background-color: aqua;
}
.para2
{
  background-color: red;
}
.para3
{
  background-color: blue;
}
@media (min-width:801px)
{
  .container p{
  width:30%;
  float: left;
  padding: 10px;
  }

}